:root {
  --text-primary-color: hsl(26, 100%, 55%);
  --bg-main--color: hsl(0, 0%, 100%);
  --bg--gray--color: hsl(220, 14%, 75%);
  --bg--darkgray--color: hsl(219, 9%, 45%);
  --bg--lightgray--color: hsl(223, 64%, 98%);
  --bg--black--color: hsl(0, 0%, 0%);
  --bg--darkblue--color: hsl(220, 13%, 13%);

  /*==========================CONTAINER-VARIBLES=============================*/
  --lg--container--width: 80%;
  --md--container--width: 90%;
  --sm--container--width: 94%;
}

/*==========================GENERAL-RESET=============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--bg-main--color);
}

img {
  width: 100%;
  display: block;
  object-fit: contain;
}

/*==========================REUSEABLE-COMPONENTS=============================*/
.container {
  width: var(--lg--container--width);
  margin: 0 auto;
}

/*==========================NAV-BAR-STYLE=============================*/
button {
  display: none;
}

nav {
  display: grid;
  place-items: center;
  height: 6rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  background-color: var(--bg-main--color);
  border-bottom: 1px solid lightgrey;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .container ul {
  display: flex;
  gap: 2rem;
  width: 50%;
  margin-left: -10rem;
}

nav .icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav .icons :nth-child(2) {
  width: 3rem;
}

/*==========================HERO-STYLE=============================*/

.hero {
  position: relative;
  height: 100vh;
  top: 6rem;
  display: grid;
  place-items: center;
  margin-top: 5rem;
}

.hero-container {
  width: 56%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  height: 100%;
}

.image-colmun {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon-direction {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.back {
  width: 2rem;
  cursor: pointer;
  display: none;
}

.forward {
  width: 2rem;
  cursor: pointer;
  display: none;
}

.gallery {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.gallery img {
  border-radius: 1rem;
}

.gallery div {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  flex: none;
  width: 100%;
  padding: 0.3rem;
}

/*=========Removes scroll Effect==========*/
.gallery::-webkit-scrollbar {
  display: none;
}

.image-hover {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.7rem;
}

.image-hover img {
  border-radius: 1rem;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.cart-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.7rem 3rem;
  border-radius: 5px;
  background-color: var(--bg--lightgray--color);
  margin-bottom: 2rem;
  cursor: pointer;
}

.cart-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--text-primary-color);
  padding: 0.7rem 3rem;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

.cart-right > p {
  font-size: 1rem;
  color: var(--bg-main--color);
}

.cart-right a img {
  font-size: 1rem;
  color: var(--bg-main--color);
}

h5 {
  color: var(--text-primary-color);
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

h1 {
  color: var(--bg--black--color);
  font-size: 2.3rem;
  margin: 1rem 0 4rem 0;
}

.text > p {
  font-size: 1.3rem;
  color: var(--bg--darkblue--color);
}

.price-tag {
  margin-block: 1rem;
}

.price-tag p {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.price-tag p span {
  font-size: 1.1rem;
  color: var(--text-primary-color);
  background-color: var(--bg--lightgray--color);
  padding: 0.2rem;
  border-radius: 0.7rem;
}

/*=========Media Querry==========*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--md--container--width);
  }

  .hero {
    height: 50vh;
  }

  h1 {
    font-size: 2rem;
  }

  .text > p {
    font-size: 1.2rem;
  }

  .price-tag {
    margin-block: 2rem;
  }

  .price-tag p {
    font-size: 1.4rem;
  }

  .cart-left {
    padding: 0.7rem 2rem;
  }

  .cart-right {
    padding: 0.7rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .cart-left {
    padding: 0.7rem 1rem;
  }

  .cart-right {
    padding: 0.7rem 1rem;
  }
}
